.updates__folder-tree__folder {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.updates__folder-tree__folder .glyphicon-hdd {
    margin-right: 0.5em;
}

.updates__folder-tree__folder .glyphicon-folder-close {
    margin-right: 0.5em;
}

.updates__folder-tree__folder .glyphicon-folder-open {
    margin-right: 0.5em;
}

.updates-folder-tree li.list-group-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*.updates__folder-tree__folder:hover{*/
/*background: #ccc;*/
/*}*/
.updates__folder-tree-toggle {
    cursor: pointer;
}

span.updates-nest {
    margin-left: 15px;
}

span.updates__file-list-icon {
    margin-right: 1em;
    /*font-size:20px;*/
}

.updates__index__file-path {
    margin-bottom: 15px;
}

.updates__thumb {
    width: 20px;
    margin-right: 1em;
    /*height: 20px;*/
}

dl.updates__detail dd {
    margin-bottom: 15px;
}

.updates__detail-label {
    font-weight: bold;
}

.updates__index__file-list {
    table-layout: fixed;
}

.updates__index__name {
    width: 56%;
}

.updates__index__size {
    white-space: nowrap;
    text-align: right;
    /*width: 15%;*/
}

.updates__index__modified {
    white-space: nowrap;
    text-align: right;
    /*width: 15%;*/
}

.updates__index__button{
    /*width:8%;*/
    width:40px;
}
table > tbody > tr > td.updates__index__button .btn.btn-xs {
    margin-left: 0px;
}
.updates__index__description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Extra small */
/*@media (max-width: 768px) {*/
/*.updates__index__description {*/
/*width:200px;*/
/*}*/
/*}*/
/*!* Small *!*/
/*@media (min-width: 768px) {*/
/*.updates__index__description {*/
/*width:10em;*/
/*}*/
/*}*/

/* この下つかってないかも */

.updates_navigation_header {
    font-size: small;
    margin-bottom: 10px;
}

.updates_file {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

.updates_file_title {
    margin-top: 0px;
    margin-bottom: 20px;

}

.updates_file_meta {
    font-size: small;
    color: #999;
    margin-bottom: 20px;
}

.updates_file_status {
    text-align: right;
    float: right;
}


.updates_file_reaction {
    margin-top: 20px;
    font-size: small;
    margin-bottom: 20px;
}

.updates_file_reaction div.pull-left {
    margin-right: 10px;
}


.pull-right {
    margin-left: 10px;
}